body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Settings_mail_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:13px;
    top:7px;
    width:197px;
    height:420px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:420px;
}

.u1 {
    position:absolute;
    left:2px;
    top:202px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Settings_mail_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:23px;
    top:54px;
    width:174px;
    height:266px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:272px;
}

.u3 {
    position:absolute;
    left:2px;
    top:125px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Settings_mail_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:36px;
    top:54px;
    width:38px;
    height:34px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:9px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Settings_mail_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:47px;
    top:59px;
    width:11px;
    height:10px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:10px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-3px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Settings_mail_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:22px;
    top:78px;
    width:174px;
    height:242px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:248px;
}

.u9 {
    position:absolute;
    left:2px;
    top:113px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Settings_mail_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:181px;
    top:57px;
    width:10px;
    height:10px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Settings_mail_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:181px;
    top:57px;
    width:10px;
    height:10px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u13 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Settings_mail_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:36px;
    top:78px;
    width:143px;
    height:23px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:41px;
    top:87px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Settings_mail_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:168px;
    top:88px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u18 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Settings_mail_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:36px;
    top:101px;
    width:143px;
    height:98px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:104px;
}

.u20 {
    position:absolute;
    left:2px;
    top:41px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:45px;
    top:109px;
    width:124px;
    height:15px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 9px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22_normal {
    background-image: url('../Settings_mail_files/u14_normal.png');
}

.u22_container {
    position:absolute;
    left:36px;
    top:138px;
    width:143px;
    height:23px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Settings_mail_files/u14_normal.png');
}

.u24_container {
    position:absolute;
    left:36px;
    top:163px;
    width:143px;
    height:23px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Settings_mail_files/u14_normal.png');
}

.u26_container {
    position:absolute;
    left:36px;
    top:188px;
    width:143px;
    height:23px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u27 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:41px;
    top:168px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Settings_mail_files/u17_normal.png');
}

.u29_container {
    position:absolute;
    left:168px;
    top:171px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:39px;
    top:145px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Settings_mail_files/u17_normal.png');
}

.u32_container {
    position:absolute;
    left:168px;
    top:146px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:41px;
    top:193px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Settings_mail_files/u17_normal.png');
}

.u35_container {
    position:absolute;
    left:168px;
    top:197px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Settings_mail_files/u14_normal.png');
}

.u37_container {
    position:absolute;
    left:36px;
    top:213px;
    width:143px;
    height:23px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:41px;
    top:218px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Settings_mail_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:168px;
    top:221px;
    width:7px;
    height:7px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u41 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

