body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Settings_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:13px;
    top:7px;
    width:197px;
    height:420px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:420px;
}

.u1 {
    position:absolute;
    left:2px;
    top:202px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Settings_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:23px;
    top:54px;
    width:174px;
    height:266px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:272px;
}

.u3 {
    position:absolute;
    left:2px;
    top:125px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Settings_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:36px;
    top:57px;
    width:38px;
    height:34px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:44px;
    height:40px;
}

.u5 {
    position:absolute;
    left:2px;
    top:9px;
    width:34px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Settings_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:48px;
    top:60px;
    width:11px;
    height:10px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:10px;
}

.u7 {
    position:absolute;
    left:2px;
    top:-3px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Settings_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:181px;
    top:60px;
    width:10px;
    height:10px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u10 {
    position:absolute;
    left:35px;
    top:78px;
    width:156px;
    height:237px;
    overflow:hidden;
}

#pd3u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:237px;
    
}

.u11_normal {
    background-image: url('../Settings_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:67px;
    top:138px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Settings_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:14px;
    top:34px;
    width:128px;
    height:80px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:86px;
}

.u14 {
    position:absolute;
    left:2px;
    top:32px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:36px;
    top:62px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:237px;
    
}

.u16_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:1px;
    top:1px;
    width:143px;
    height:23px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:6px;
    top:6px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Settings_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:1px;
    top:50px;
    width:143px;
    height:65px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:71px;
}

.u20 {
    position:absolute;
    left:2px;
    top:24px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u21_container {
    position:absolute;
    left:1px;
    top:116px;
    width:143px;
    height:23px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:4px;
    top:121px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u24_container {
    position:absolute;
    left:1px;
    top:26px;
    width:143px;
    height:23px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:131px;
    top:9px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u27 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:4px;
    top:32px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Settings_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:130px;
    top:124px;
    width:7px;
    height:7px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u31 {
    position:absolute;
    left:0px;
    top:116px;
    width:144px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u32_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u32_container {
    position:absolute;
    left:131px;
    top:108px;
    width:6px;
    height:7px;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u34_container {
    position:absolute;
    left:131px;
    top:38px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:4px;
    top:59px;
    width:114px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 10px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:237px;
    
}

.u37_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u37_container {
    position:absolute;
    left:1px;
    top:1px;
    width:143px;
    height:23px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:6px;
    top:6px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Settings_files/u19_normal.png');
}

.u40_container {
    position:absolute;
    left:1px;
    top:24px;
    width:143px;
    height:65px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:71px;
}

.u41 {
    position:absolute;
    left:2px;
    top:24px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:8px;
    top:33px;
    width:125px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:8px;
    top:52px;
    width:125px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:8px;
    top:71px;
    width:125px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u45_container {
    position:absolute;
    left:1px;
    top:116px;
    width:143px;
    height:23px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:4px;
    top:121px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u48_container {
    position:absolute;
    left:1px;
    top:91px;
    width:143px;
    height:23px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u50_container {
    position:absolute;
    left:132px;
    top:99px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u51 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:4px;
    top:97px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Settings_files/u29_normal.png');
}

.u53_container {
    position:absolute;
    left:132px;
    top:123px;
    width:7px;
    height:7px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u54 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:0px;
    top:116px;
    width:144px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u56_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u56_container {
    position:absolute;
    left:132px;
    top:81px;
    width:6px;
    height:7px;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u57 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u10 {
    position:absolute;
    left:0px;
    top:0px;
    width:156px;
    height:237px;
    
}

.u58_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u58_container {
    position:absolute;
    left:1px;
    top:4px;
    width:143px;
    height:23px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u59 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:6px;
    top:10px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u61_container {
    position:absolute;
    left:133px;
    top:14px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u62 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u63_container {
    position:absolute;
    left:1px;
    top:56px;
    width:143px;
    height:23px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:5px;
    top:62px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Settings_files/u29_normal.png');
}

.u66_container {
    position:absolute;
    left:132px;
    top:64px;
    width:7px;
    height:7px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:7px;
    height:7px;
}

.u67 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u68 {
    position:absolute;
    left:0px;
    top:4px;
    width:146px;
    height:26px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u69 {
    position:absolute;
    left:0px;
    top:56px;
    width:145px;
    height:24px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u70_normal {
    background-image: url('../Settings_files/u16_normal.png');
}

.u70_container {
    position:absolute;
    left:1px;
    top:30px;
    width:143px;
    height:23px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:149px;
    height:29px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:139px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Settings_files/u26_normal.png');
}

.u72_container {
    position:absolute;
    left:133px;
    top:38px;
    width:6px;
    height:7px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:6px;
    height:7px;
}

.u73 {
    position:absolute;
    left:2px;
    top:-4px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:6px;
    top:36px;
    width:150px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Settings_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:37px;
    top:161px;
    width:141px;
    height:154px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:160px;
}

.u76 {
    position:absolute;
    left:2px;
    top:69px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

