body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../desplegable_FTU_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:12px;
    top:15px;
    width:197px;
    height:420px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:420px;
}

.u1 {
    position:absolute;
    left:2px;
    top:202px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../desplegable_FTU_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:22px;
    top:62px;
    width:174px;
    height:265px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:271px;
}

.u3 {
    position:absolute;
    left:2px;
    top:124px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:29px;
    top:77px;
    width:168px;
    height:242px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:168px;
    height:242px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:0px;
    top:88px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:0px;
    top:128px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:16px;
    top:0px;
    width:108px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:0px;
    top:187px;
    width:132px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:0px;
    top:226px;
    width:132px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

