body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Home_FTU_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:13px;
    top:7px;
    width:197px;
    height:420px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:420px;
}

.u1 {
    position:absolute;
    left:2px;
    top:202px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Home_FTU_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:24px;
    top:51px;
    width:174px;
    height:268px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:274px;
}

.u3 {
    position:absolute;
    left:2px;
    top:126px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:24px;
    top:73px;
    width:175px;
    height:247px;
    overflow:hidden;
}

#pd4u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:247px;
    
}

.u5_normal {
    background-image: url('../Home_FTU_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:4px;
    top:0px;
    width:169px;
    height:246px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:252px;
}

.u6 {
    position:absolute;
    left:2px;
    top:115px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:14px;
    top:62px;
    width:150px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Home_FTU_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:21px;
    top:11px;
    width:34px;
    height:34px;-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u9 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:14px;
    top:135px;
    width:143px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:64px;
    top:197px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd3u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:247px;
    
}

.u12_normal {
    background-image: url('../Home_FTU_files/u5_normal.png');
}

.u12_container {
    position:absolute;
    left:4px;
    top:0px;
    width:169px;
    height:246px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:252px;
}

.u13 {
    position:absolute;
    left:2px;
    top:115px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Home_FTU_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:12px;
    top:100px;
    width:154px;
    height:137px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:137px;
}

.u15 {
    position:absolute;
    left:2px;
    top:60px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:14px;
    top:41px;
    width:150px;
    height:45px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Home_FTU_files/u8_normal.png');
}

.u17_container {
    position:absolute;
    left:130px;
    top:7px;
    width:34px;
    height:34px;-webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);

}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u18 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Home_FTU_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:72px;
    top:224px;
    width:13px;
    height:38px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:38px;
}

.u20 {
    position:absolute;
    left:2px;
    top:11px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:247px;
    
}

.u21_normal {
    background-image: url('../Home_FTU_files/u5_normal.png');
}

.u21_container {
    position:absolute;
    left:4px;
    top:0px;
    width:169px;
    height:246px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:252px;
}

.u22 {
    position:absolute;
    left:2px;
    top:115px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Home_FTU_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:20px;
    top:52px;
    width:110px;
    height:161px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:161px;
}

.u24 {
    position:absolute;
    left:2px;
    top:72px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:6px;
    top:6px;
    width:153px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../Home_FTU_files/u19_normal.png');
}

.u26_container {
    position:absolute;
    left:68px;
    top:210px;
    width:13px;
    height:38px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:38px;
}

.u27 {
    position:absolute;
    left:2px;
    top:11px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:247px;
    
}

.u28_normal {
    background-image: url('../Home_FTU_files/u5_normal.png');
}

.u28_container {
    position:absolute;
    left:4px;
    top:0px;
    width:169px;
    height:246px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:252px;
}

.u29 {
    position:absolute;
    left:2px;
    top:115px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Home_FTU_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:64px;
    top:35px;
    width:26px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:20px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:0px;
    top:72px;
    width:153px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Home_FTU_files/u19_normal.png');
}

.u33_container {
    position:absolute;
    left:70px;
    top:209px;
    width:13px;
    height:38px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:38px;
}

.u34 {
    position:absolute;
    left:2px;
    top:11px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:175px;
    height:247px;
    
}

.u35_normal {
    background-image: url('../Home_FTU_files/u5_normal.png');
}

.u35_container {
    position:absolute;
    left:4px;
    top:0px;
    width:169px;
    height:246px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:175px;
    height:252px;
}

.u36 {
    position:absolute;
    left:2px;
    top:115px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:14px;
    top:64px;
    width:150px;
    height:92px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Home_FTU_files/u19_normal.png');
}

.u38_container {
    position:absolute;
    left:74px;
    top:209px;
    width:13px;
    height:38px;-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:38px;
}

.u39 {
    position:absolute;
    left:2px;
    top:11px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Home_FTU_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:24px;
    top:51px;
    width:174px;
    height:22px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:28px;
}

.u41 {
    position:absolute;
    left:2px;
    top:3px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Home_FTU_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:32px;
    top:57px;
    width:11px;
    height:10px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:10px;
}

.u43 {
    position:absolute;
    left:2px;
    top:-3px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Home_FTU_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:182px;
    top:57px;
    width:10px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

