body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:29px;
    top:187px;
    width:110px;
    height:28px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:28px;
    
}

.u1 {
    position:absolute;
    left:10px;
    top:6px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:10px;
    top:28px;
    width:86px;
    height:25px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u3 {
    position:absolute;
    left:0px;
    top:6px;
    width:201px;
    height:201px;
    overflow:hidden;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:201px;
    
}

.u4_normal {
    background-image: url('../confirmar_fatos_factura_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:58px;
    width:200px;
    height:144px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:144px;
}

.u5 {
    position:absolute;
    left:2px;
    top:64px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u6 {
    position:absolute;
    left:165px;
    top:175px;
    width:50px;
    height:50px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u7_normal {
    background-image: url('../confirmar_fatos_factura_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:13px;
    top:0px;
    width:197px;
    height:420px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:197px;
    height:420px;
}

.u8 {
    position:absolute;
    left:2px;
    top:202px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../confirmar_fatos_factura_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:23px;
    top:47px;
    width:174px;
    height:266px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:180px;
    height:272px;
}

.u10 {
    position:absolute;
    left:2px;
    top:125px;
    width:170px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:0px;
    top:67px;
    width:198px;
    height:247px;
    overflow:hidden;
}

#pd1u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:198px;
    height:247px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u12_normal {
    background-image: url('../confirmar_fatos_factura_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:19px;
    top:125px;
    width:178px;
    height:121px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:178px;
    height:121px;
}

.u13 {
    position:absolute;
    left:2px;
    top:52px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:26px;
    top:42px;
    width:90px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u15 {
    position:absolute;
    left:163px;
    top:207px;
    width:48px;
    height:49px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u16 {
    position:absolute;
    left:26px;
    top:11px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:198px;
    height:247px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
    -ms-overflow-x:hidden;
}

.u17 {
    position:absolute;
    left:31px;
    top:40px;
    width:140px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:30px;
    top:103px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:31px;
    top:59px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../confirmar_fatos_factura_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:80px;
    top:263px;
    width:100px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:7px;
    width:96px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:30px;
    top:154px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../confirmar_fatos_factura_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:30px;
    top:172px;
    width:10px;
    height:10px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u24 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../confirmar_fatos_factura_files/u23_normal.png');
}

.u25_container {
    position:absolute;
    left:60px;
    top:172px;
    width:10px;
    height:10px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u26 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../confirmar_fatos_factura_files/u23_normal.png');
}

.u27_container {
    position:absolute;
    left:90px;
    top:172px;
    width:10px;
    height:10px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u28 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../confirmar_fatos_factura_files/u23_normal.png');
}

.u29_container {
    position:absolute;
    left:121px;
    top:172px;
    width:10px;
    height:10px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:16px;
    height:16px;
}

.u30 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../confirmar_fatos_factura_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:33px;
    top:175px;
    width:4px;
    height:4px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:10px;
    height:10px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-6px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:32px;
    top:185px;
    width:28px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:62px;
    top:185px;
    width:28px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:93px;
    top:185px;
    width:28px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:124px;
    top:185px;
    width:28px;
    height:6px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:30px;
    top:77px;
    width:90px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:30px;
    top:124px;
    width:88px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:113px;
    top:21px;
    width:150px;
    height:9px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:51px;
    top:21px;
    width:39px;
    height:9px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../confirmar_fatos_factura_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:62px;
    top:6px;
    width:12px;
    height:12px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u42 {
    position:absolute;
    left:2px;
    top:1px;
    width:8px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../confirmar_fatos_factura_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:127px;
    top:6px;
    width:12px;
    height:12px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:18px;
    height:18px;
}

.u44 {
    position:absolute;
    left:2px;
    top:1px;
    width:8px;
    height:10px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../confirmar_fatos_factura_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:53px;
    height:3px;
}

.u45 {
    position:absolute;
    left:74px;
    top:7px;
    width:53px;
    height:10px;
    
}

.u46 {
    position:absolute;
    left:30px;
    top:199px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:30px;
    top:219px;
    width:88px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48_normal {
    background-image: url('../confirmar_fatos_factura_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:122px;
    top:134px;
    width:6px;
    height:6px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:12px;
}

.u49 {
    position:absolute;
    left:2px;
    top:-5px;
    width:2px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:130px;
    top:132px;
    width:46px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../confirmar_fatos_factura_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:30px;
    top:52px;
    width:11px;
    height:10px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:11px;
    height:10px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-3px;
    width:7px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../confirmar_fatos_factura_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:181px;
    top:52px;
    width:10px;
    height:10px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:10px;
    height:10px;
}

.u54 {
    position:absolute;
    left:2px;
    top:-3px;
    width:6px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

